{
  "parser": "babel-eslint",
  "extends": [
    "eslint-config-airbnb"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mongo": true,
    "mocha": true
  },
  "rules": {
    "array-callback-return": 0,
    "prefer-const": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "comma-dangle": 0,
    "object-curly-spacing": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "no-unused-expressions": 0,
    "import/prefer-default-export": 0,
    "import/no-dynamic-require": 0,
    "import/no-mutable-exports": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "no-mixed-operators": 0,
    "no-lonely-if": 0,
    "no-else-return": 0,
    "no-return-assign": 0,
    "import/no-named-as-default": 1,
    "max-len": 0,
    "no-prototype-builtins": 2,
    "no-restricted-syntax": 2,
    "import/imports-first": 2,
    "func-names": 1,
    "prefer-arrow-callback": 2,
    "no-unused-vars": [2, {"args": "none"}],
    "camelcase": 2,
    "import/newline-after-import": 2,
  }
}
